body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  height: 500px;
  width: 900px;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

header + section {
  display: flex;
  flex: 1;
}

header {
  width: 100%;
  max-width: 100%;
  border: 0;
  height: 70px;
  background: #184b74;
}

nav {
  height: 100%;
  width: 60px;
  background: #222;
}

nav + div {
  flex: 1;
  display: flex;
  background: #fff;
}

nav + div > aside {
  background: #ebf1ff;
  display: flex;
  flex: 1;
  margin-left: 20px;
  margin-top: 20px;
  border-top: 2px solid #bfd9fb;
  border-left: 2px solid #bfd9fb;
  border-top-left-radius: 10px;
  padding: 20px;
}

h1 {
  font-size: 34px;
  margin: 0;
}

h1 + p {
  margin: 0;
}

h1 span {
  color: #27e0d8;
}

.bets {
  height: 60px;
  width: 100%;
  border: 2px solid #e2e9f5;
  margin: 20px 0 20px 0;
}

.bets ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.bets li {
  height: 60px;
  flex: 1;
  text-align: center;
  line-height: 60px;
  background: -webkit-linear-gradient(
    top,
    #eef3ff 0%,
    #eef3ff 50%,
    #dfe6f6 51%,
    #dfe6f6 100%
  ); /* Chrome10-25,Safari5.1-6 */
}

.bets li:first-child {
  background: #fff;
}

.bets li:nth-child(3) {
  background: -webkit-linear-gradient(
    top,
    #5fd7fe 0%,
    #5fd7fe 50%,
    #66c4f7 51%,
    #66c4f7 100%
  ); /* Chrome10-25,Safari5.1-6 */
}

.selections-row {
  display: flex;
  flex-direction: row;
}

.selections__selection {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 20px;
}

.selections__selection + .selections__selection {
  margin-left: 10px;
  margin-right: 0;
}

.selections__selection-button {
  padding: 10px;
  border: 2px solid #cfdef5;
  background: #eef3ff;
  display: flex;
}

.selections__selection-button button {
  width: 100%;
  background: #35beff;
  color: #fff;
  border: none;
  height: 30px;
  font-weight: 700;
  flex: 1;
  margin-right: 10px;
}

.selections__selection-button button {
  margin-right: 0;
  margin-left: 10px;
}

.selections__selection-body {
  padding: 20px 0;
  background: #fff;
  border-right: 2px solid #cfdef5;
  border-left: 2px solid #cfdef5;
  display: flex;
}

.selections__selection-body div + div {
  font-size: 30px;
  font-weight: 700;
  padding-right: 10px;
}

.selections__selection-body img {
  height: 40px;
  margin: 0 10px;
}

.selections__selection-header {
  text-align: center;
  padding: 12px 0;
  color: #fff;
  background: -webkit-linear-gradient(
    top,
    #3b5267 0%,
    #3b5267 49%,
    #194563 50%,
    #194563 100%
  ); /* Chrome10-25,Safari5.1-6 */
}

.selections__selection-header span {
  background: #006def;
  padding: 3px 7px;
  border: 1px solid white;
  margin-right: 10px;
}

.popup-bet {
  background: #fff;
  position: absolute;
  z-index: 11;
  bottom: 20px;
  left: 20px;
}

.box-thing {
  border: 2px solid #8fb0db;
  background: #eff4ff;
  height: 270px;
  margin-top: 20px;
}

.progress {
  width: 100%;
  height: 20px;
  flex: 1;
  border: 1px solid grey;
  margin-bottom: 20px;
}

.progress .bar {
  height: 100%;
  width: 80%;
  background: #50ff00;
  background: -webkit-linear-gradient(left, #50ff00 0%, #ff0000 100%);
}

.full-screen {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
}

.full-screen button {
  margin-left: 0;
}
